apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: config-policy-controller-0pyc
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: config-policy-controller-0pyc
    app.kubernetes.io/part-of: config-policy-controller
  name: config-policy-controller-0pyc
  namespace: red-hat-acm-tenant
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: config-policy-controller-0pyc
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: config-policy-controller-0pyc
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:29847ec86deb25446f54578c3298eb8c23b8eaf2bcc14f91b3de18bd6282ba2f
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
