apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: config-policy-controller-0pyc
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:b190075d27a7b980bcd9f470e8aec4f2c4721526e3e78c49776b38670c0e37ff
        name: container-image
        resources: {}
status: {}
